<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"><title> Créitos </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head> 

<body>
  
    <h2>Autor: J.Rodriguez</h2>
    <img src="http://acdn.fantasy-rivals.com/images/avatar.png" alt="Información" title="Imagen usada" height="128px" width="128px" />
 
</body> 
</html>