<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>QUIZ</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: El Juego de Las Preguntas</h2>
        <p> La Respuesta: <%= respuesta %> </p>
    <a href="/quizes/<%= quiz.id %>" Intentelo otra vez </a>
  </body>
</html>